<div class="home-frame">
  <div class="home-banner">
    <div class="container inner">

      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="{{'common.filter' | translate}}" ng-model="candidateFilter" />
      </div>

      <div class="alert alert-success" role="alert" ng-show="voteSuccess">
        {{'home.vote_success' | translate }}
      </div>

      <div class="alert alert-danger" role="alert" ng-show="voteError">
        {{'home.vote_error' | translate }}
      </div>

      <div class="trending-results">
        <div class="no-data" data-ng-if="trending.shows.length == 0">There are no popular shows available to display</div>
        <ul class="list-of-shows">
          <li class="col-xs-12 col-sm-12 col-md-4 repeat-animation" data-ng-repeat="candidate in home.candidateList.candidates | orderBy: 'votes' : '+' | filter:candidateFilter ">
            <div class="show-frame">
              <h2>
                <strong>
                  {{candidate.name}}
                </strong>
                <br />
                <small>
                  {{candidate.email}}
                </small>
              </h2>
              <div class="inner">
                <div class="buttons">
                  <div class="progress">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="{{candidate.votes}}"
                        aria-valuemin="0"
                        aria-valuemax="{{home.candidateList.totalVotes}}"
                        style="width: {{(candidate.votes / home.candidateList.totalVotes) *100}}%;">
                      {{(candidate.votes / home.candidateList.totalVotes) *100.00 | number:2}}%
                    </div>
                  </div>

                  <!-- Small modal -->
                  <button type="button"
                      class="btn btn-primary"
                      aria-expanded="false"
                      aria-controls="collapse_{{candidate.id}}"
                      data-target="collapse_{{candidate.id}}"
                      onclick="$('.collapse').collapse('hide'); $('#'+$(this).data('target')).collapse('toggle');"
                      >
                    <span class="icon icon-arrow-right7"></span>
                    {{'home.vote' | translate}}
                  </button>
                  <div class="collapse" id="collapse_{{candidate.id}}">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4>
                          <strong>
                            {{'home.vote_message' | translate }}
                          </strong>
                        </h4>
                      </div>
                    </div>

                    <div class="well">
                      <div class="row">
                        <div class="col-sm-12">
                          <label>
                            {{"humanCheck." + candidate.humanCheck | translate }}=
                          </label>
                          <input type="text"
                              id="humanCheckValue_{{candidate.id}}"
                              name="home.candidate.humanCheckValue"
                              value=""
                              ng-model="home.candidate.humanCheckValue"
                              ng-required="true"
                             />

                        </div>
                      </div>

                      <div class="row">
                        <button type="submit" class="btn btn-success" ng-click="voteUp(candidate.id, candidate.humanCheck);">
                          <span class="icon icon-arrow-right7"></span>
                          {{'home.send' | translate}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="home-buttons">
      </div>
    </div>
  </div>
  <div class="clearbanner"></div>
  <div class="tutorials-title">
    <div class="container">
      <div class="hidden-xs share-buttons">

      </div>
    </div>
  </div>
  <div class="container">

  </div>
</div>
