<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <title>
    {{'system.name' | translate }}
  </title>

  <link rel="icon" type="image/png" href="assets/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />

  <!-- build:css assets/css/styles.css -->
  <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" type='text/css' />
  <link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.min.css" type='text/css' />
  <link rel="stylesheet" href="assets/css/font-icons.css" type='text/css' />
  <link rel="stylesheet" href="assets/css/animations.css"/>
  <link rel="stylesheet" href="assets/css/style.css"/>
  <link rel="stylesheet" href="sections/home/home.css"/>
  <link rel="stylesheet" href="sections/user/user.css"/>
  <!-- endbuild -->

</head>
<body>

  <header id="site-header">
    <div class="container">
      <div class="pull-left logo">
        {{'system.name' | translate }}
      </div>
      <ul class="pull-right menu">
        <li>
          <a href="#/">
            HOME
          </a>
        </li>

        <li ng-if="principal != null && principal.authenticated == true">
          <a href="#/user/list">
            {{'user.list.menu' | translate}}
          </a>
        </li>

        <li ng-show="principal == null">
          <a href="#/login">
            {{'user.login.system_access' | translate}}
          </a>
        </li>
      </ul>
    </div>
  </header>

  <section id="site-bar" data-ng-controller="BarController as bar">
      <div class="container">
          <h1>{{bar.data.title}}</h1>
          <p>{{bar.data.description}}</p>
      </div>
      <div class="page-loader" data-ng-show="bar.data.loading"><div class="throbber"></div></div>
  </section>

  <section id="main">
    <div class="container">
      <ng-view></ng-view>
    </div>
  </section>

  <!-- build:assets assets.min.js -->
  <!-- ASSETS -->
  <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/bower_components/angular/angular.min.js"></script>
  <script src="assets/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="assets/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="assets/bower_components/angular-route/angular-route.min.js"></script>
  <script src="assets/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="assets/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="assets/bower_components/moment/min/moment.min.js"></script>
  <script src="assets/bower_components/angular-moment/angular-moment.min.js"></script>
  <script src="assets/bower_components/angular-truncate/src/truncate.js"></script>
  <script src="assets/bower_components/angular-preload-image/angular-preload-image.min.js"></script>
  <script src="assets/bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="assets/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <!-- / -->
  <!-- endbuild -->
  <!-- build:js app.min.js -->
  <!-- MODULES -->
  <script src="app.routes.js"></script>
  <script src="app.config.js"></script>
  <script src="app.core.js"></script>
  <script src="app.translate.js"></script>
  <script src="app.services.js"></script>
  <script src="app.js"></script>
  <!-- / -->
  <!-- CONTROLLERS -->
  <script src="sections/home/home.ctrl.js"></script>
  <script src="sections/user/login.ctrl.js"></script>
  <script src="sections/user/user.ctrl.js"></script>
  <script src="components/bar/bar.ctrl.js"></script>
  <!-- / -->
  <!-- SERVICES -->
  <script src="services/service.val.js"></script>
  <script src="services/base.service.fct.js"></script>
  <script src="services/user.fct.js"></script>
  <script src="services/page.val.js"></script>
  <!-- / -->
  <!-- DIRECTIVES -->
  <script src="directives/ngEnter.drct.js"></script>
  <!-- / -->
  <!-- inject:js -->
  <!-- endinject -->
  <!-- endbuild -->
</body>
</html>
