<input type="hidden"
        id="id"
        name="id"
        ng-model="ctrl.user.id"
    />

<div class="row">

  <div class="form-group has-feedback col-md-12 col-sm-12">
    <label for="name" translate="user.name">
      Name
    </label>
    <input type="text"
            id="name"
            name="name"
            placeholder="{{'user.name' | translate}}"
            ng-model="ctrl.user.name"
            required="required"
            class="form-control"
            ng-readonly="isReadonly"
        />
  </div>

  <div class="form-group has-feedback col-md-12 col-sm-12">
    <label for="email" translate="user.email">
      E-mail
    </label>
    <input type="text"
            id="email"
            name="email"
            placeholder="{{'user.email' | translate}}"
            ng-model="ctrl.user.email"
            required="required"
            class="form-control"
            ng-readonly="isReadonly"
        />
  </div>

  <div class="form-group has-feedback col-md-12 col-sm-12">
    <label for="mobile" translate="user.mobile">
      Mobile
    </label>
    <input type="text"
            id="mobile"
            name="mobile"
            placeholder="{{'user.mobile' | translate}}"
            ng-model="ctrl.user.mobile"
            class="form-control"
            ng-readonly="isReadonly"
        />
  </div>

  <div class="form-group has-feedback col-md-12 col-sm-12">
    <label for="password" translate="user.password">
      Mobile
    </label>
    <input type="password"
            id="password"
            name="password"
            placeholder="{{'user.password' | translate}}"
            ng-model="ctrl.user.password"
            class="form-control"
            ng-show="!isReadonly"
        />
  </div>

</div>
