<div ng-controller="UserController as ctrl" data-ng-init="ctrl.editForm()" class="content animate-panel">

  <div ng-include src="'sections/user/_form.html'"></div>

  <div class="row">
    <div class="form-group col-sm-12">
      <br />
      <button type="submit" class="btn btn-primary" ng-show="!isReadonly" ng-click="ctrl.edit()">
        {{'common.save' | translate}}
      </button>

      <a class="btn btn-default"
        href="#/user"
        translate="common.cancel"
        >
        Cancel
      </a>

    </div>
  </div>

</div>
