<div ng-controller="UserController as ctrl" data-ng-init="ctrl.list()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-10">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="{{'common.filter' | translate}}" ng-model="userFilter" />
          </div>
        </div>
        <div class="col-sm-2" ng-if="principal != null && principal.authenticated == true">
          <a class="btn btn-success pull-right"
            href="#/user/create"
            translate="common.create"
            >
            Create User
          </a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info" ng-if="ctrl.users.userList == null">
            <p>
              {{'common.no_data_found' | translate}}
            </p>
          </div>

          <div class="table-responsive" ng-if="ctrl.users.userList">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th translate="user.name">
                    Name
                  </th>
                  <th translate="user.email">
                    Email
                  </th>
                  <th translate="user.mobile">
                    Mobile
                  </th>
                  <th translate="common.actions">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="user in ctrl.users.userList | orderBy: 'name' | filter:userFilter ">
                  <td>
                    {{user.name}}
                  </td>
                  <td>
                    {{user.email}}
                  </td>
                  <td>
                    {{user.mobile}}
                  </td>
                  <td>
                    <a href='#/user/{{user.id}}/edit'
                       class="btn btn-default"
                       data-toggle="tooltip"
                       title="{{'common.edit' | translate}}">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>

                    <a href='#'
                       class="btn btn-danger"
                       data-toggle="tooltip"
                       title="{{'common.delete' | translate}}"
                       ng-click="ctrl.delete(user.id)">
                        <i class="fa fa-user-times"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <center>
            <div ng-if="ctrl.users.totalElements != null">
              <div class="row">
                <div class="col-sm-12">
                  <ul ng-if="ctrl.users.totalPages != null"
                      class="pagination pagination-sm">

                    <!-- backward flags -->
                    <li ng-if="ctrl.users.currentIndex == 1"
                            class="disabled">
                      <a href="#">
                        <i class="fa fa-fast-backward"></i>
                      </a>
                    </li>
                    <li ng-if="ctrl.users.currentIndex == 1"
                            class="disabled">
                      <a href="#">
                        <i class="fa fa-step-backward"></i>
                      </a>
                    </li>

                    <li ng-if="ctrl.users.currentIndex != 1">
                      <a href="{{pag.search.firstUrl}}">
                        <i class="fa fa-fast-backward"></i>
                      </a>
                    </li>
                    <li ng-if="ctrl.users.currentIndex != 1">
                      <a href="{{ctrl.users.prevUrl}}">
                        <i class="fa fa-step-backward"></i>
                      </a>
                    </li>

                    <!-- Page number of index -->
                    <li ng-repeat="page in ctrl.users.pages"
                            class="{{page.index == ctrl.users.currentIndex ? 'active' : ''}}">
                      <a href="{{page.url}}">
                        {{page.index}}
                      </a>
                    </li>

                    <!-- forward flags -->
                    <li ng-if="ctrl.users.currentIndex == ctrl.users.totalPages
                                || ctrl.users.totalPages == 0 "
                            class="disabled">
                      <a href="#">
                        <i class="fa fa-step-forward"></i>
                      </a>
                    </li>
                    <li ng-if="ctrl.users.currentIndex == ctrl.users.totalPages
                                || ctrl.users.totalPages == 0 "
                            class="disabled">
                      <a href="#">
                        <i class="fa fa-fast-forward"></i>
                      </a>
                    </li>

                    <li ng-if="ctrl.users.totalPages > 0
                                && ctrl.users.currentIndex != ctrl.users.totalPages"
                            >
                      <a href="{{ctrl.users.nextUrl}}">
                        <i class="fa fa-step-forward"></i>
                      </a>
                    </li>
                    <li ng-if="ctrl.users.totalPages > 0
                                && ctrl.users.currentIndex != ctrl.users.totalPages"
                            >
                      <a href="{{ctrl.users.lastUrl}}">
                        <i class="fa fa-fast-forward"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <strong>
                    <span translate="{{'common.records' | translate }}">
                      Total
                    </span>
                  </strong>:
                  <span>
                    {{ctrl.users.totalElements}}
                  </span>
                </div>
              </div>

            </div>
          </center>

        </div>
      </div>
    </div>
  </div>
</div>
