<div class="login-container center-block">
  <div class="row">
    <div class="col-md-6 ">
      <div class="hpanel">
        <div class="panel-body">
          <div ng-show="login.loginMessage" class="alert alert-danger text-center">
              {{login.loginMessage}}
          </div>

          <div class="form-group">
            <label class="control-label" for="username" translate="user.login.username">
              Username
            </label>
            <input
              type="text"
              placeholder="{{'user.login.username-example' | translate}}"
              title="{{'user.login.username' | translate}}"
              required=""
              id="username"
              name="username"
              ng-model="login.principal.username"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="password" translate="user.login.password">
              Password
            </label>
            <input
              type="password"
              title="{{'user.login.password' | translate}}"
              placeholder="******"
              required=""
              id="password"
              name="password"
              ng-model="login.principal.password"
              class="form-control"
            />
          </div>

          <button class="btn btn-success btn-block" translate="user.login.enter" ng-click="login.login();">
            Login
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
